<div class="map-order">
  <div class="heading">
    <div class="x-c-nh-n-a-ch-giao-h-ng">Xác nhận địa chỉ giao hàng</div>
    <div class="a-ch-l-u-h-u-ph-c-ng-ho-d-an-b-nh-d-ng-vietnam">
      Địa chỉ: Lưu Hữu Phước, Đông Hoà, Dĩ An, Bình Dương, Vietnam
    </div>
  </div>
  <div class="rectangle-7"></div>
  <img class="icons-8-instagram-2" src="icons-8-instagram-20.svg" />
  <img class="image-3" src="image-30.png" />
  <div class="th-hai-th-s-u-8-00-am-to-9-00-pm">
    Thứ hai - Thứ sáu
    <br />
    8:00 am to 9:00 pm
  </div>
  <div class="th-b-y-8-00-am-to-9-00-pm">
    Thứ bảy
    <br />
    8:00 am to 9:00 pm
  </div>
  <div class="ch-nh-t-closed">
    Chủ nhật
    <br />
    CLOSED
  </div>
  <div class="group-9">
    <div class="menu-event-about-us-gallery">
      Menu
      <br />
      Event
      <br />
      About us
      <br />
      Gallery
    </div>
  </div>
  <div class="th-i-gian-m-c-a">Thời gian mở cửa</div>
  <div class="group-11">
    <div class="facebook">
      <div class="ellipse-2"></div>
      <img class="image-1" src="image-10.png" />
    </div>
    <div class="facebook">
      <div class="ellipse-22"></div>
    </div>
    <div class="facebook">
      <div class="ellipse-23"></div>
    </div>
    <div class="follow-us">FOLLOW US</div>
    <div class="contact-us">Contact US</div>
  </div>
  <div class="line-2"></div>
  <div class="copyright">
    <div class="terms-of-service-privacy-policy">
      Terms of Service Privacy Policy
    </div>
  </div>
  <img class="black-logo-4" src="black-logo-40.png" />
  <div class="frame-15296"></div>
  <div class="button-continue">
    <div class="review-your-order">Xác nhận</div>
  </div>
  <div
    class="frame"
    style="
      background: url(frame0.png) center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <img
      class="screenshot-2024-06-02-201303-1"
      src="screenshot-2024-06-02-201303-10.png"
    />
    <img
      class="screenshot-2024-06-02-201252-2"
      src="screenshot-2024-06-02-201252-20.png"
    />
    <img
      class="screenshot-2024-06-02-201218-1"
      src="screenshot-2024-06-02-201218-10.png"
    />
    <img
      class="screenshot-2024-06-02-201228-1"
      src="screenshot-2024-06-02-201228-10.png"
    />
    <img class="rectangle-12" src="rectangle-120.svg" />
    <div class="a-ch-l-u-h-u-ph-c-ng-ho-d-an-b-nh-d-ng-vietnam2">
      Địa chỉ: Lưu Hữu Phước, Đông Hoà, Dĩ An, Bình Dương, Vietnam
    </div>
  </div>
  <img class="black-logo-42" src="black-logo-41.png" />
  <div class="menu">Menu</div>
  <div class="gallery">Gallery</div>
  <div class="about">About</div>
  <div class="contact">Contact</div>
  <div class="events">Events</div>
  <img class="rectangle-4" src="rectangle-40.svg" />
  <div class="t-ngay">Đặt ngay</div>
  <img class="icon-carrot" src="icon-carrot0.svg" />
  <div class="copy">
    <div class="a-ch-giao-h-ng">Địa Chỉ Giao Hàng</div>
  </div>
</div>
